<div class="d-md-flex h-md-100 align-items-center">

    <div class="col-md-4 p-0 bg-orange h-md-100">
        <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
            <div class="logoarea pt-5 pb-5">
                <ng-container *ngIf="provider">
                    <h3>Training Center</h3>
                    <p> {{ provider.providerTrainingCenter.centerName }}</p>
                    <p> {{ provider.providerTrainingCenter.contactNumber }}</p>
                </ng-container>
                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>{{ complexShowString }}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button ngbDropdownItem (click)="complexChoose(complex)" *ngFor="let complex of complexList">{{ complex.complexName }}</button>
                        </div>
                    </div>
                </div> 

                <br>

                <div *ngIf="show === false" class="col">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>{{ addressShowString }}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button ngbDropdownItem (click)="addressChoose(address)" *ngFor="let address of addressList">{{ address.streetAddress }}</button>
                        </div>
                    </div>
                </div> 

                <br>
                <button class="btn btn-secondary" *ngIf="show === false"(click)="addForm()">Add Address</button>
                <form *ngIf="show === true">
                    <div>
                        <label class="col-md-9">Street Address: <input [(ngModel)]="room.roomAddress.streetAddress" name="room.roomAddress.streetAddress" class="input-border" type="text" required minlength="5" maxlength="200" #street="ngModel"> </label>
                        <div class="col-md-12" *ngIf="street.invalid && street.dirty" class="alert alert-danger alert-dismissable" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="true"><span aria-hidden="true">&times;</span></button>
                            Street address must contain at least 5 characters.
                        </div>

                        <label class="col-md-9"> City: <input [(ngModel)]="room.roomAddress.city" name="room.roomAddress.city" class="input-border" type="text" required minlength="1" maxlength="50" #city="ngModel"> </label> 
                        <div class="col-md-12" *ngIf="city.invalid && city.dirty" class="alert alert-danger">City name is either to short or to long.</div>

                        <label class="col-md-9"> State: <input [(ngModel)]="room.roomAddress.state" name="room.roomAddress.state" class="input-border" type="text" required minlength ="2" maxlength="50" #state="ngModel"> </label> 
                        <div class="col-md-12" *ngIf="state.invalid && state.dirty" class="alert alert-danger">Please enter a valid state name or state abbreviation.</div>

                        <label class="col-md-9"> Zip Code: <input [(ngModel)]="room.roomAddress.zipCode" name="room.roomAddress.zipCode" class="input-border" type="text" pattern="[0-9]{5}" #zip="ngModel"> </label> 
                        <div class="col-md-12" *ngIf="zip.invalid && zip.dirty" class="alert alert-danger">Zip code must be exactly least 5 numbers.</div>

                        &nbsp;
                        <button class="btn btn-secondary" (click)="back()">Cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
        
    <div class="col-md-8 p-0 bg-body h-md-100 loginarea">
        <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
            <div class="logoarea pt-5 pb-5">
                
                <form id="roomForm">
                    <h1>Add Room</h1>
                    <br>
                    <div class="container">
                        <div class="col-md-10">
                            <label class="col-md-4" for="room.roomType">Room Type: </label>
                            <select class="input-border col-md-4 input-border" name="room.roomType" [(ngModel)]="room.roomType">
                                <option>Apartment</option>
                                <option>Dorm</option>
                            </select>
                        </div>

                        <div class="col-md-10">
                            <label for="" class="col-md-4">Room Number: </label>
                            <input type="text" class="input-border col-md-4">
                        </div>
                    

                        <div class="col-md-10">
                            <label class="col-md-5" for="room.numberOfBeds">Number of Bedrooms: </label> {{ room.numberOfBeds }}
                            <input type="range" min="1" max="8" value="2" step="1" class="slider" name="room.numberOfBeds" [(ngModel)]="room.numberOfBeds" >
                        </div>
                        
                        <br><br>
                        <div class="col-md-8">
                            <label class="col-md-5">Amenities:</label>
                            <br>
                            <div class="col-md-10">
                                <span *ngFor="let amenity of amenities">                                
                                    <label for="amenity.amenityString" class="col-md-5">{{ amenity.amenityString }}</label>
                                    <input type="checkbox" name="amenity.amenityString" [(ngModel)]="amenity.isSelected">
                                </span>
                            </div>
                        </div>
                        <br><br>

                        <div class="col-md-10">
                            <label class="col-md-4">Start Date:</label>
                            <input class="input-border col-md-4" type="date" name="StartDate">
                        </div>
                        <div class="col-md-10">
                            <label class="col-md-4">End Date:</label>
                            <input class="input-border col-md-4" type="date" name="EndDate">
                        </div>

                        <div id="topbutton">
                            <button class="btn btn-secondary" type="submit" (click)="postRoomOnSubmit()">Submit</button>
                            <button class="btn btn-secondary" type="button"><a id="cancel2" routerLink="">Cancel</a></button>
                            <div *ngIf="status" class="alert alert-danger"> Invalid Address, please enter a valid address.</div>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>     
</div>