#header{
    text-align: center;
}
#beds, #Room{
    border: solid;
    border-color: black;
}
#submit{
    border: solid;
    border-color: black;
    padding-right: 10px;
    padding-left: 10px;
}
#cancel{
    border: solid;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
}
#topbutton{
    padding-bottom: 10px;
}
#startdate, #enddate{
    border: solid;
    border-color: black;
}
@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }
.bg-indigo { background: #fb752c; }
.text-cyan { color: #35bdff; }