#header{
    text-align: center;
}
#beds, #Room, #startdate, #enddate, #checkboxes{
    border: solid;
    border-color: black;
}
#topbutton{
    padding-bottom: 10px;
}
.container {
    width: 500px;
    clear: both;
}  
.container input {
    width: 100%;
    clear: both;
}
#cancel2{
    text-decoration: none;
    color: white;
}
@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }
.bg-indigo { background: #fb752c; }
.text-cyan { color: #35bdff; }