<div class="d-md-flex h-md-100 align-items-center">

    <div class="col-md-4 p-0 bg-indigo h-md-100">
        <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
            <div class="logoarea pt-5 pb-5">
                <ng-container *ngIf="provider">
                    <h3>Training Center</h3>
                    <p> {{ provider.providerTrainingCenter.centerName }}</p>
                    <p> {{ provider.providerTrainingCenter.contactNumber }}</p>
                </ng-container>
                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>{{ complexShowString }}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button ngbDropdownItem (click)="complexChoose(complex)" *ngFor="let complex of complexList">{{ complex.complexName }}</button>
                        </div>
                    </div>
                </div> 

                <br>

                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>{{ addressShowString }}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button ngbDropdownItem (click)="addressChoose(address)" *ngFor="let address of addressList">{{ address.streetAddress }}</button>
                        </div>
                    </div>
                </div> 

                <br>
                <button class="btn btn-secondary" *ngIf="show === false"(click)="addForm()">Add Address</button>
                <div class="container">
                    <form *ngIf="show === true"> 
                        <label class="col-md-6"> Street Address: <input type="text" required minlength="5" maxlength="200"> </label> <br>
                        <label class="col-md-6"> City: <input type="text" required maxlength="50"> </label> <br>
                        <label class="col-md-6"> State: <input type="text" required minlength ="2" maxlength="50"> </label> <br>
                        <label class="col-md-6"> Zip Code: <input type="text" pattern="[0-9]{5}"> </label> <br>
                        <br>
                        <button class="btn btn-secondary">Submit</button>
                        &nbsp;
                        <button class="btn btn-secondary" (click)="back()">cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
        
    <div class="col-md-8 p-0 bg-white h-md-100 loginarea">
        <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
            <div class="logoarea pt-5 pb-5">
                <h1> Add Room </h1>
                <br>
                <form>

                    <div>
                        <label for="room.numberOfBeds" >Number of Beds: </label>
                        <input type="number" required min="1" max="10" name="room.numberOfBeds" [(ngModel)]="room.NumberOfBeds">                        
                    </div>

                    <br>

                    <div class="col">
                        <label for="room.roomType" required>Room Type: </label>
                        <select name="room.roomType" [(ngModel)]="room.roomType">
                            <option>Apartment</option>
                            <option>Dorm</option>
                        </select>
                    </div>  

                    <br>
                    
                    Amenities:
                    <fieldset *ngFor="let amenity of amenities" id="checkboxes">     
                        <input type="checkbox" name="amenity" value="amenity">{{amenity.amenityString}}<br>   
                    </fieldset> 

                    <br>

                    <div>
                        Start Date:
                        <input id="startdate" type="date" name="StartDate">
                    </div>

                    <br>

                    <div>
                        End Date:
                        <input id="enddate" type="date" name="EndDate">
                    </div>

                    <br>

                    <div>
                        <label for="room.roomNumber">Room Number: </label>
                        <input name="room.roomNumber" type="text" required pattern="[A-Za-z0-9\-]+" [(ngModel)]="room.roomNumber">
                    </div>

                    <div id="topbutton">
                        <button class="btn btn-secondary" type="submit" (click)="postRoomOnSubmit()">Submit</button>
                        &nbsp;
                        <button class="btn btn-secondary" type="button"><a id="cancel2" routerLink="">Cancel</a></button>
                    </div>

                </form> 
            </div>
        </div>
    </div>     
</div>