<ng-container *ngIf="false">
    <!-- This component takes care of displaying the amenities in a pop up format
    the amenities are displayed using the chip aesthetic, with some nice rippling effect on click
    when the popup is closed, it sends the changes to the amenities back to the parent component -->
</ng-container>
<mat-dialog-content>
        <h3 mat-dialog-title>Make A Request</h3>
        <input type="text" class="form-group" [(ngModel)]="req.title" placeholder="Request Title">
        <textarea type="text" class="form-group" [(ngModel)]="req.reason" placeholder="Please input your request here."></textarea>
</mat-dialog-content>

<mat-dialog-actions style="float: right;">
    <button class="btn btn-primary" style="margin: 4px" (click)="save()">Send</button>
    <button class="btn btn-danger" style="margin: 4px" (click)="close()">Close</button>
</mat-dialog-actions>