# housing :: dockerignore

## git
.git/

## project
.azure/
.github/
**/dockerfile

## angular
**/coverage/
**/dist/

## docker
**/dockerup*
!**/dockerup.yaml

## dotnet
**/.vscode/
**/.vs/
**/bin/
**/obj/

## jekyll
**/.jekyll-cache/
**/.sass-cache/

**/.jekyll-metadata

## macos
**/.DS_Store

## nodejs
**/node_modules/

## react

## terraform
**/.terraform/

**/*.hcl
**/*.tfstate
**/*.tfstate.*
**/*.tfvars

## vuejs
