<div class="add-room-container" *ngIf="complexControl" else errorblock>
  <h3 class="add-room-header">Edit Room</h3>
  <hr />

  <div class="add-room-options">
    <form id="AddRoomForm">
      <!--Start of roomNumber-->
      <div class="form-group">
        <label for="roomNumber">Room Number</label>
        <input
          type="text"
          id="roomNumber"
          name="roomNumber"
          #roomNumber="ngModel"
          [(ngModel)]="formRoom.roomNumber"
          class="form-control"
          aria-describedby="roomNumber"
          required
        />
        <!-- Dirty is so the error message is not displayed when the page first loads  -->
        <div
          *ngIf="roomNumber.invalid && roomNumber.dirty"
          class="alert alert-danger"
        >
          A room number is required.
        </div>
      </div>
      <!--End of roomNumber-->

      <!--Start of numberOfBeds-->
      <div class="form-group">
        <label for="numberOfBeds">Number of Beds</label>
        <input
          type="number"
          id="numberOfBeds"
          name="numberOfBeds"
          #numberOfBeds="ngModel"
          [(ngModel)]="formRoom.numberOfBeds"
          class="form-control"
          aria-describedby="numberOfBeds"
          required
        />
        <!-- Dirty is so the error message is not displayed when the page first loads  -->
        <div
          *ngIf="numberOfBeds.invalid && numberOfBeds.dirty"
          class="alert alert-danger"
        >
          Number of beds is required.
        </div>
      </div>
      <!--End of numberOfBeds-->

      <!-- Start of gender input select -->
      <div class="form-group">
        <label for="gender">Select Gender</label>
        <select
          id="gender"
          name="gender"
          [(ngModel)]="formRoom.gender"
          #gender="ngModel"
          class="form-control"
          aria-describedby="gender"
          required
        >
          <option value="" disabled>Select Gender</option>
          <option *ngFor="let gender of seededGenderTypes" [ngValue]="gender">
            {{ gender.genderType }}
          </option>
        </select>
      </div>
      <!-- Dirty is so the error message is not displayed when the page first loads  -->
      <div *ngIf="gender.invalid && gender.dirty" class="alert alert-danger">
        A gender for occupants is required.
      </div>
      <!-- End of gender input select -->

      <!-- Start of Room Type input select -->
      <div class="form-group">
        <label for="apiRoomType">Select Room Type</label>
        <select
          id="apiRoomType"
          name="apiRoomType"
          [(ngModel)]="formRoom.apiRoomType"
          #apiRoomType="ngModel"
          class="form-control"
          aria-describedby="apiRoomType"
          required
        >
          <option value="" disabled>Select Room Type</option>
          <option *ngFor="let roomType of seededRoomTypes" [ngValue]="roomType">
            {{ roomType.roomType }}
          </option>
        </select>
      </div>
      <!-- Dirty is so the error message is not displayed when the page first loads  -->
      <div
        *ngIf="apiRoomType.invalid && apiRoomType.dirty"
        class="alert alert-danger"
      >
        A room type is required.
      </div>
      <!-- End of Room Type select -->

      <!-- Lease start and end dates start -->
      <div>
        <mat-form-field>
          <input matInput
          id="startDate"
          name="startDate"
          [matDatepicker]="startDatePicker"
          [(ngModel)]="formRoom.startDate"
          #startDate="ngModel"
          class="form-control"
          placeholder="Lease Start Date"
          aria-describedby="startDate"
          required >
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput
          id="endDate"
          name="endDate"
          [matDatepicker]="endDatePicker"
          [(ngModel)]="formRoom.endDate"
          #endDate="ngModel"
          class="form-control"
          placeholder="Lease End Date"
          aria-describedby="endDate"
          required >
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker [startAt]="endDate"></mat-datepicker>
        </mat-form-field>
      </div>

      <div
        *ngIf="endDate.invalid && endDate.dirty || startDate.invalid && startDate.dirty"
        class="alert alert-danger"
      >
        A lease start and end date is required.
      </div>
      <!-- Lease end and end dates finish-->

      <hr />

      <!-- Start of markup for submit and cancel buttons | leaseLength, apiRoomType, gender, numberOfBeds, roomNumber -->
      <div class="form-row d-flex justify-content-around">
        <div>
          <!-- If any of the inputs are invalid, the submit button will be disabled -->
          <button
            class="add-room-btn"
            [disabled]="
              apiRoomType.invalid ||
              gender.invalid ||
              numberOfBeds.invalid ||
              roomNumber.invalid ||
              startDate.invalid ||
              endDate.invalid"
            (click)="postAddRoom()">
            Add
          </button>
        </div>
        <div>
          <button class="add-room-btn" (click)="cancelAddRoom()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<ng-template #errorblock>
  You've reached this by mistake, try again.
</ng-template>
