.add-room-container {

}

.add-room-header {

}

.add-room-options {

}

.add-room-btn {
  background-color: grey;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  color: black;
  opacity: 0.7;
}
