.card {
    background-color: rgba(251,117,44);
    color: white;
    margin: 5px;
}

.customChip {
    background-color: rgb(107, 51, 124);
    border-radius: 16px;
    padding: 7px 12px;
    font-size: 14px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    min-height: 32px;
    height: 1px;
    color: rgb(255, 255, 255);
    margin: 4px;
    cursor: default;
}
