<th scope="col" style="text-align: center">{{room.roomId}}</th>
<td scope="col" style="text-align: center">{{room.roomNumber}}</td>
<td scope="col" style="text-align: center">{{room.numberOfBeds}}</td>
<td scope="col" style="text-align: center">{{room.roomType}}</td>
<td scope="col" style="text-align: center">{{room.isOccupied}}</td>
<td scope="col" style="text-align: center">{{room.startDate.getDate()}}/{{room.startDate.getMonth()}}/{{room.startDate.getFullYear()}}</td>
<td scope="col" style="text-align: center">{{room.endDate.getDate()}}/{{room.endDate.getMonth()}}/{{room.endDate.getFullYear()}}</td>
