<mat-card class="card">
    <mat-card-title>Room Number {{room.roomNumber}}, {{room.numberOfBeds}} Bed</mat-card-title>
    <mat-card-title>Start: {{room.startDate | date}} | End: {{room.endDate | date}}</mat-card-title>
    <mat-card-subtitle>Occupied: {{room.isOccupied}}</mat-card-subtitle>
    <mat-chip-list>
        <mat-chip *ngFor="let a of room.amenities">{{a.amenityString}}</mat-chip>
    </mat-chip-list>
</mat-card>

<!-- <th scope="col" style="text-align: center">{{room.roomId}}</th>
<td scope="col" style="text-align: center">{{room.roomNumber}}</td>
<td scope="col" style="text-align: center">{{room.numberOfBeds}}</td>
<td scope="col" style="text-align: center">{{room.roomType}}</td>
<td scope="col" style="text-align: center">{{room.isOccupied}}</td>
<td scope="col" style="text-align: center">{{room.startDate | date}}</td>
<td scope="col" style="text-align: center">{{room.endDate.getDate()}}/{{room.endDate.getMonth()}}/{{room.endDate.getFullYear()}}</td> -->
