<div>
    <form>
        <label>
            Email
        </label>
        <input type="text">
        <label>
            Gender
        </label>
        <select>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="NonBinary">NaN</option>
        </select>
        <label>
            FirstName
        </label>
        <input type="text">
        <label>
            LastName
        </label>
        <input type="text">
        <label>
            Address
        </label>
        <input type="text">
    </form>
</div>
