#parent
{
  overflow: hidden;
}
.child
{
  margin-top: 5%;
  max-height: 80%;
  overflow-y: scroll;
}
#formContainer
{
  margin-top: 10%;
  margin-bottom: 10%;
}
.tenFormLabel
{
  display: flex;
  flex-flow: column-reverse wrap;
}
#header {
    text-align: center;
  }
#addTenantTitle
{
  position: absolute;
}
  
  .input-border {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid gray;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  #submit,
  #cancel {
    padding-right: 10px;
    padding-left: 10px;
  }
  
  #topbutton {
    padding-bottom: 10px;
  }
  
  #cancel2 {
    text-decoration: none;
    color: white;
  }
  
  @media (min-width: 768px) {
    .h-md-100 {
      height: 100vh;
    }
  }
  
  .btn-round {
    border-radius: 30px;
  }
  
  .bg-orange {
    background: #fb752c;
  }
  
  .bg-body {
    background-image: url("https://3g4d13k75x47q7v53surz1gi-wpengine.netdna-ssl.com/wp-content/uploads/2017/03/rec_hero_image.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .text-cyan {
    color: #35bdff;
  }
  
  label {
    font: 1rem "Fira Sans", sans-serif;
    font-weight: bold;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }
  
  legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
  }
  
  .slider {
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: 0.2s;
    transition: opacity 0.2s;
    margin-left: 4%;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
  }
  
  h1 {
    margin-left: 35%;
  }

  h2 {
    margin-left: 35%;
  }
  
  button {
    margin: 3%;
  }

  .container {
    display: table;
    height: 100%;
    width: 100%;
    height: auto;
    margin-top: 25px;
  }

  .split {
    height: 100%;
    width: 50%;
    display: table-cell;
    z-index: 1;
    top: 0;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: white;
  }

  .right {
    right: 0%;
    background-color: white;
  }

  .centered {
    top: 50%;
    left: 50%;
    display: inline-block;
    width: auto;
  }
  
  #tenantForm {
    color: black;
    background-color: white;
    opacity: 0.65;
    height:auto;
    text-align: center;
    overflow: hidden;
  }

  #carForm{
    color: black;
    background-color: white;
    opacity: 0.65;
    height: 25%;
    min-height: 50%;
    width: 50%;
  }

  #tenFormDetail{
    color: black;
    background-color: white;
    opacity: 0.65;
    height: 25%;
    min-height: 50%;
    width: auto;
    display: inline-block;
  }
  
  #alert {
    font-size: 13px;
  }
  
  #amenityStyle {
    margin-left: 18%;
  }
  