<div class="outer">
  <div class="inner">
    <div id="title">
      <h3>Providers Awaiting Approval</h3>
      <hr />
      <div class="notifications-directions"> Click a record to see its details. </div>
      <div class="notifications-container">
        <table mat-table [dataSource]="dataSource" class="notifications-table">
          <caption>Providers Awaiting Approval</caption>
          <!--Expires Column-->
          <ng-container matColumnDef="expires">
            <th id="notifications-header-expires" mat-header-cell *matHeaderCellDef class="notifications-header">
              Expires on
            </th>
          </ng-container>
          <!--Company Name Column-->
          <ng-container matColumnDef="companyName">
            <th id="notifications-header-companyName" mat-header-cell *matHeaderCellDef class="notifications-header">
              Business Name
            </th>
            <td matt-cell *matCellDef="let notification" class="truncate"> {{ notification.providerId }} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="notifications-row"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
