.outer {
  width: 100%;
  text-align: center;
  padding: 100px;
  background-image: url("https://engineering.stanford.edu/sites/default/files/styles/full_width_banner_tall/public/buildings-shape.jpg?itok=FWLFiW7H");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

hr {
  margin: 3px;
}

.inner {
  width: 50%;
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
  padding: 50px;
  border-radius: 5px;
}

.notifications-container{
  overflow-y: scroll;
  max-height: 300px;
  margin-bottom: 3%;
  padding-bottom: 3%;
}

.notifications-directions{
  padding: 3px;
  font-size: 16px;
  font-style: italic;
  background-color: white;
  color: black;
  color: inherit;
  padding: 5px;
  width: 100%;
  text-align: left;
}


.notifications-header{
  font-size: 10px;
  font-weight: bold;
  background-color: white;
  color: black;
  color: inherit;
  padding: 5px;
  display:flex;
  flex-direction: row;
}

.notifications-row{
  background-color: white;
  color: black;
  color: inherit;
  padding: 5px;
  display:flex;
  flex-direction: row;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  transition: background-color .2s ease, color .2s ease;
}

.notifications-row:nth-child(odd) {
  background-color: #f26925;
}

.notifications-row:first-child {

  border-top: 2px solid black;
}

.notifications-row:last-child {
  border-bottom: 2px solid black;
}

.notifications-row:hover {
  background-color: lightgray;
  text-decoration: none;
  color:white;
}

.notification-name{
  padding: 5px 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.notification-expires{
  white-space: nowrap;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-btn{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
}
