#add-complex-title {
  margin-bottom: 3%;
}

#complexForm input {
  border: 1px solid gray;
  padding: 3px;
  border-radius: 5px;
}

#complexForm label {
  margin-right: 15px;
}

// button format
.showAddressForm {
  background-color: grey;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  color: black;
  opacity: 0.7;
}
