<!-- table to display current details of the selected room with two-way binding -->
<table class="table table-striped table-dark bottomBod table-bordered" *ngIf="room">
    <caption hidden>A table of room details.</caption>
    <thead class="thead-dark">
      <tr>
        <th class="col text-center">Room Number</th>
        <th class="col text-center">Number of Beds</th>
        <th class="col text-center">Type</th>
        <th class="col text-center">Occupied</th>
        <th class="col text-center">Amenities</th>
        <th class="col text-center dateBox">Start Date</th>
        <th class="col text-center dateBox">End Date</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td class="col text-center">{{room.roomNumber}}</td>
          <td class="col text-center">{{room.numberOfBeds}}</td>
          <td class="col text-center">{{room.apiRoomType.roomType}}</td>
          <td class="col text-center">{{room.isOccupied}}</td>
          <td class="col text-center">
            <span>|</span>
            <span *ngFor="let a of room.apiAmenity">| {{a.amenity}} |</span>
            <span>|</span>
          </td>
          <td class="col text-center">{{room.startDate | date}}</td>
          <td class="col text-center">{{room.endDate | date}}</td>
        </tr>
        <!-- this row begins the display for the forms. Only displays when the user has clicked to edit the room -->
        <tr *ngIf="editing">
          <!-- this is the form for the room number. -->
            <td class="col text-center">
              <form class="form-group" #roomNum="ngForm">
                <input maxlength="7" class="form-control" id="roomNum" required type="text" [pattern]="'^(?=.*\\d)[a-zA-Z0-9]*$'"
                  [(ngModel)]="room.roomNumber" name="roomNum" #roomNum="ngModel" (keyup)="roomNumValid(roomNum.invalid)"/>
                <div *ngIf="roomNum.invalid && (roomNum.dirty || roomNum.touched)" class="alert alert-danger"> Must be only numbers or letters with at least 1 number, max 7 characters.</div>
              </form>
            </td>
            <!-- this is the form for the number of beds -->
            <td class="col text-center">
                <form class="form-group" #bedNum="ngForm">
                    <input maxlength="1" class="form-control" id="bedNum" required type="text" [pattern]="'^(?=.*\\d)[1-8]{1,1}$'"
                      [(ngModel)]="room.numberOfBeds" name="bedNum" #bedNum="ngModel" (keyup)="bedNumValid(bedNum.invalid)"/>
                    <div *ngIf="bedNum.invalid && (bedNum.dirty || bedNum.touched)" class="alert alert-danger"> Must be a single digit between 1 and 8.</div>
                </form>
            </td>
            <td class="col text-center">{{room.apiRoomType.roomType}}</td>
            <td class="col text-center">{{room.isOccupied}}</td>
            <td class="col text-center">
              <button type="button" class="btn btn-primary" *ngIf="room" (click)="openDialog()">Select Amenities</button>
            </td>
            <!-- this is the form for the start date of the contract -->
            <td class="col text-center">
              <form class="form-group" #startDate="ngForm">
                <input class="form-control" id="startDate" required type="date" [disabled]="allowModStartDate"
                  [ngModel]="room.startDate | date:'yyyy-MM-dd'" (ngModelChange)="validateStart($event)" name="startDate" #startDate="ngModel"/>
                <div *ngIf="validStart === false" class="alert alert-danger"> Must be either today or in the future.</div>
              </form>
            </td>
            <!-- this is the form for end date of the contract -->
            <td class="col text-center">
              <form class="form-group" #endDate="ngForm">
                <input class="form-control" id="endDate" required type="date"
                  [ngModel]="room.endDate | date:'yyyy-MM-dd'" (ngModelChange)="validateEnd($event)" name="endDate" #endDate="ngModel"/>
                <div *ngIf="validEnd === false" class="alert alert-danger"> Must be later than the starting date.</div>
              </form>
            </td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-danger" style="float: right; margin: 20px;" *ngIf="room" (click)="removeRoom(room)" [disabled]="room.isOccupied">Remove</button>
<button type="button" class="btn btn-secondary" style="float: right; margin: 20px;" *ngIf="room && !editing" (click)="startEdit()" [disabled]="room.isOccupied">Edit</button>
<button type="button" class="btn btn-secondary" style="float: right; margin: 20px;" *ngIf="room && editing" (click)="submit(room)" [disabled]="bedNumBool === true || roomNumBool === true || validStart === false || validEnd === false">Submit</button>
<button type="button" class="btn btn-danger" style="float: right; margin: 20px;" *ngIf="room && room.isOccupied" (click)="openRequestDialog()">Send Change Request</button>