# account :: editorconfig

[*]
charset = utf-8
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable:silent
