<div class="add-tenantRoom-outer">
    <div class="add-tenantRoom-inner">
        <div *ngIf="currentTenant">
            <h1>Current Tenant: {{currentTenant.firstName}} {{currentTenant.lastName}}</h1>
            <h3>Language: {{currentTenant.batch.language}} | BatchId: {{currentTenant.batch}}</h3>
        </div>
        <div *ngIf="changingArray">
            <table>
                <tr>
                    <th>Room ID:</th>
                    <th>Priority Level</th>
                </tr>
                <tr *ngFor="let elem of changingArray">
                    <td>{{elem[0].id}}</td>
                    <td>{{elem[1]}}</td>
                </tr>
                <tr>
                    <td>Filter Car</td>
                    <td><input type="checkbox" [checked]="filterCar" (change)="toggleCar()"></td>
                </tr>
                <tr>
                    <td><label>Filter Language</label></td>
                    <td><input type="checkbox" [checked]="filterLang" (change)="toggleLang()"></td>
                </tr>
                <tr>
                    <td><label>Filter Batch</label></td>
                    <td><input type="checkbox" [checked]="filterBatch" (change)="toggleBatch()"></td>
                </tr>
        
            </table>
            <!-- <div *ngFor="let elem of changingArray">
                <p>Room ID: {{elem[0].id}} -- Priority Level: {{elem[1]}} </p>
            </div> -->
        </div>
        
        <br>
    </div>
</div>