<!-- When a room is selected this will display the rooms information -->
<div class="show-room-container" *ngIf="complexControl" else errorblock>
  <h3 class="show-room-header">{{ complexControl.complexName }}</h3>
  <h5>Room {{ targetRoom.roomNumber }}</h5>
  <hr class="main-hr" />
  <div><strong>Number of beds : </strong>{{ targetRoom.numberOfBeds }}</div>
  <div><strong>Gender : </strong>{{ targetRoom.gender.genderType }}</div>
  <div><strong>Has Occupants : </strong>{{ targetRoom.isOccupied }}</div>
  <div class="d-flex flex-column">
    <div class="align-self-start"><strong>Amenities</strong></div>
    <div>
      <hr class="p-0 m-1" />
      <mat-chip-list>
        <mat-chip *ngFor="let amenity of complexControl?.amenity" color="primary" selected>
          <strong>{{ amenity.amenity }}</strong>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <hr />
  <div>
    <button class="show-room-btn" (click)="handleBackButton()">
      <strong>
        &lt; Go back
      </strong>
    </button>
  </div>
</div>
<!-- Alternate view if a complex is not selected and this page is
shown -->
<ng-template #errorblock>
  You've reached this by mistake, try again.
</ng-template>
