.show-room-btn {
  background-color: grey;
  border-radius: 5px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  opacity: 0.7;
  justify-self: center;
  height: min-content;
}

.main-hr {
  height: 1px;
  background-color: black;
}
