.drawer
{
  width: auto;
  height: 100%;
  margin: 10px;
  border: 1px solid #555;
}

#header {
    text-align: center;
  }

  .input-border {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid gray;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  #submit,
  #cancel {
    padding-right: 10px;
    padding-left: 10px;
  }

  #topbutton {
    padding-bottom: 10px;
  }

  #cancel2 {
    text-decoration: none;
    color: white;
  }

  @media (min-width: 768px) {
    .h-md-100 {
      height: 100vh;
    }
  }

  .btn-round {
    border-radius: 30px;
  }

  .bg-orange {
    background: #fb752c;
  }

  .bg-body {
    background-image: url('/assets/imgs/rec_hero_image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .text-cyan {
    color: #35bdff;
  }

  label {
    font: 1rem "Fira Sans", sans-serif;
    font-weight: bold;
  }

  input,
  label {
    margin: 0.4rem 0;
  }

  legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
  }

  .slider {
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: 0.2s;
    transition: opacity 0.2s;
    margin-left: 4%;
  }

  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
  }

  h1 {
    margin-left: 35%;
  }

  button {
    margin: 3%;
  }

  #roomForm {
    color: black;
    background-color: white;
    opacity: 0.65;
    width: 80%;
  }

  #alert {
    font-size: 13px;
  }

  #amenityStyle {
    margin-left: 18%;
  }

  .selector
  {
      color: black
  }

  .card-drawer
  {
      height: auto;
      width: 100%;
  }
  .div-drawer
  {
    color: black;
    background-color: white;
    opacity: 0.65;
    width: 80%;
    overflow-y: scroll;
  }
  .complex-container
  {
      margin-left:3em;
      display: flex;
      justify-content: space-between;

  }


  .complex-container button
  {
      background-color: transparent;
      text-align: right;
  }

  .buttons-right
  {
      display: flex;
      flex-direction: row;
      margin-right: 5em
  }
  .buttons-right button
  {
      margin-left: 0.8em
  }
  .divider
  {
      border-bottom-style: solid black 25px;
  }

  .outer {
    width: 100%;
    text-align: center;
    padding: 100px;
    background-image: url("https://engineering.stanford.edu/sites/default/files/styles/full_width_banner_tall/public/buildings-shape.jpg?itok=FWLFiW7H");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  hr {
    margin: 3px;
  }

  .inner {
    width: 50%;
    background-color: white;
    opacity: 0.9;
    margin-left: 25%;
    margin-right: 25%;
    padding: 50px;
    border-radius: 5px;
  }

  .notifications-container{
    overflow-y: scroll;
    height: 300px;
    max-height: 300px;
    margin-bottom: 3%;
    padding-bottom: 3%;
  }

  .notifications-directions{
    padding: 3px;
    font-size: 16px;
    font-style: italic;
    background-color: white;
    color: black;
    color: inherit;
    padding: 5px;
    width: 100%;
    text-align: left;
  }

  .notifications-table{
    min-width: 100%;
    width:100%;
  }

  .notifications-header{
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    color: black;
    color: inherit;
    padding: 0px 5px !important;
  }

  .notifications-row:hover {
    background-color: lightgray;
    text-decoration: none;
    color:white;
    cursor: pointer;
  }

  .notification-name{
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .notification-expires{
    white-space: nowrap;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
  }

  .truncate {
    padding-left: 16px;
    max-width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
