.drawer
{
  width: auto;
  height: 100%;
  margin: 10px;
  border: 1px solid #555;
  padding: 0 15px;
}

  @media (min-width: 768px) {
    .h-md-100 {
      height: 100vh;
    }
  }

  .bg-orange {
    background: #fb752c;
  }

  .bg-body {
    background-image: url('/assets/imgs/rec_hero_image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .div-drawer {
    color: black;
    background-color: white;
    opacity: 0.65;
    width: 80%;
    overflow-y: scroll;
  }
