<div class="login-outer">
  <div class="login-inner">
    <h3>Revature Housing</h3>
    <hr>
    With the Revature Housing App, you are able to register and manage qualified housing so that it is available to Revature trainees. To see a current list of the nationwide Revature training sites, <a routerLink="training-locations" class="a-highlight">click here</a>.
    <hr>
    <a routerLink="" class="a-highlight account">log in,</a> or <a routerLink="add-provider" class="a-highlight account">register</a>
    <hr>
  </div>
</div>
