<!--Once complex is selected, show information-->

<!--Header of container-->
<div class="complex-container">
  <!--Contains current complex and edit/delete buttons-->
  <div class="align-left">
    <h3>{{ complexControl?.complexName }}</h3>
  </div>
  <div class="buttons-right">
    <button mat-flat-button (click)="changeMode('edit-complex')">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
<hr style="height: 1px; background-color: black;" />

<!--Middle of container-->
<div class="middle-container ">
  <table mat-table [dataSource]="dataSource" class="w-100 h-50">
    <!-- Position Column -->
    <ng-container matColumnDef="room#">
      <th mat-header-cell *matHeaderCellDef>Room No.</th>
      <td mat-cell *matCellDef="let room">{{ room.roomNumber }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef>Start</th>
      <td mat-cell *matCellDef="let room">{{ dateFormat(room.startDate) }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef>End</th>
      <td mat-cell *matCellDef="let room">{{ dateFormat(room.endDate) }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let room">
        <button mat-flat-button (click)="editRoom(room)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="100"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
  >
  </mat-paginator>
  <button class="add-room-btn" mat-raised-button (click)="changeMode('add-room')">Add Room</button>
</div>
