
<div class="home-head">
    <h1>Living Complexes</h1>
    <hr>
    <div *ngFor="let complex of complexes"
        class="card complex-card">
        <div class="card-body">
            <div class="card-title">
                <h4>{{ complex.complexName }}</h4>
            </div>
            <div class="card-content">
                <p>{{ complex.apiAddress.streetAddress }}</p>
                <p>{{ complex.apiAddress.city }}, {{ complex.apiAddress.state }} {{ complex.apiAddress.zipCode }}</p>
                <p>{{ complex.contactNumber }}</p>
            </div>
        </div>
    </div>
</div>

  