<ng-container *ngIf="false">
    <!-- This component takes care of displaying the amenities in a pop up format
    the amenities are displayed using the chip aesthetic, with some nice rippling effect on click
    when the popup is closed, it sends the changes to the amenities back to the parent component -->
</ng-container>
<mat-dialog-content>
        <h3 mat-dialog-title>Available Amenities</h3>
    <ul class="list">
        <li matRipple [matRippleColor]="'rgba(200,200,200,.2)'" [matRippleCentered]="true" class="customChip"
        *ngFor="let a of amenities" (click)="clickEvent(a)" [class.overlay]="selected(a)">
            {{a.amenity}}
        </li>
    </ul>
</mat-dialog-content>

<mat-dialog-actions style="float: right;">
    <button class="btn btn-primary" style="margin: 4px" (click)="save()">Save</button>
    <button class="btn btn-danger" style="margin: 4px" (click)="close()">Close</button>
</mat-dialog-actions>
