<div class="add-complex-outer">
    <div class="add-complex-inner">
        <div id="add-complex-title">
            <h3>Add a Living Complex</h3>
        </div>
        <hr>
        <form id="complexForm">
            <div class="form-group">
                <label for="streetAddress">Street Address</label>
                <input type="text"
                    required
                    name="formLivingComplex.apiAddress.streetAddress"
                    [(ngModel)]="formLivingComplex.apiAddress.streetAddress"
                    class="form-control"
                    id="streetAddress"
                    #streetAddress="ngModel"
                    aria-describedby="streetAddress">
                <div *ngIf="streetAddress.invalid && streetAddress.dirty" class="alert alert-danger">Street address is required.</div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="city">City</label>
                    <input type="text"
                        required
                        name="formLivingComplex.apiAddress.city"
                        [(ngModel)]="formLivingComplex.apiAddress.city"
                        class="form-control"
                        id="city"
                        #city="ngModel"
                        aria-describedby="city">
                </div>
                <div class="form-group col-md-2">
                    <label for="state">State</label>
                    <input type="text"
                        required
                        name="formLivingComplex.apiAddress.state"
                        [(ngModel)]="formLivingComplex.apiAddress.state"
                        class="form-control"
                        id="state"
                        #state="ngModel"
                        aria-describedby="state">
                </div>
                <div class="form-group col-md-4">
                    <label for="zipCode">Zipcode</label>
                    <input type="text"
                        required
                        pattern="[0-9]{5}"
                        [(ngModel)]="formLivingComplex.apiAddress.zipcode"
                        class="form-control"
                        name="formLivingComplex.apiAddress.zipCode"
                        id="zipCode"
                        #zipCode="ngModel"
                        aria-describedby="zipCode">
                </div>
            </div>
            <div *ngIf="city.invalid && city.dirty" class="alert alert-danger">City is required.</div>
            <div *ngIf="state.invalid && state.dirty" class="alert alert-danger">State is required.</div>
            <div *ngIf="zipCode.invalid && zipCode.dirty" class="alert alert-danger">Zipcode is required and must have five digits.</div>  
            <hr>
            <div class="form-group">
                <label for="complexName">Complex Name</label>
                <input type="text" 
                    required
                    name="formLivingComplex.complexName"
                    [(ngModel)]="formLivingComplex.complexName"
                    #complexName="ngModel"
                    class="form-control" id="complexName" aria-describedby="complexName">
            </div>
            <div *ngIf="complexName.invalid && complexName.dirty" class="alert alert-danger">The living complex name is required.</div>
            <div class="form-group">
                <label for="contactNumber">Contact Number</label>
                <input type="text" 
                    required
                    pattern="^\D?(\d{3})\D?\D?(\d{3})\D?(\d{4})$"
                    name="formLivingComplex.complexNumber"
                    [(ngModel)]="formLivingComplex.contactNumber"
                    #phoneNumber="ngModel"
                    class="form-control" id="complexNumber" aria-describedby="complexNumber">
            </div>
            <div *ngIf="phoneNumber.invalid && phoneNumber.dirty" class="alert alert-danger">Phone number must be at least 7 digits.</div>
            <div class="form-row">
                <div class="col-md-6 form-group">
                    <button
                        class="showAddressForm"
                        [disabled]="phoneNumber.invalid ||
                                    complexName.invalid ||
                                    streetAddress.invalid ||
                                    city.invalid ||
                                    state.invalid ||
                                    zipCode.invalid"
                        (click)="postLivingComplex()">Submit</button>
                </div>
                <div class="col-md-6 form-group">
                    <button
                        class="showAddressForm"
                        (click)="cancelAddLivingComplex()">Cancel</button>
                </div>
            </div>
            <div *ngIf="!isValidAddress" class="alert alert-danger"> The selected address is invalid. Please enter a valid address.</div>
            <div *ngIf="!isValidDistanceToTrainingCenter" class="alert alert-danger"> 
                    The distance between the living complex and training center cannot exceed twenty miles.
            </div>
        </form>
        <hr>
        <div *ngIf="currentProvider" class="card">
            <div class="card-body">
                <div class="card-title">
                    <H5>Your Training Center Information:</H5>
                </div>
                <div class="card-content">
                    <p>Name: {{ currentProvider.apiTrainingCenter.centerName }}</p>
                    <p>Phone Number: {{ currentProvider.apiTrainingCenter.contactNumber }}</p>
                    <p>{{ currentProvider.apiTrainingCenter.apiAddress.streetAddress }}</p>
                    <p>{{ currentProvider.apiTrainingCenter.apiAddress.city }}, {{ currentProvider.apiTrainingCenter.apiAddress.state }} {{ currentProvider.apiTrainingCenter.apiAddress.zipcode }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
    