.leftBod {
    float: left;
    width: 50%;
    height: 50%;
}

.rightBod {
    float: right;
    overflow: auto;
    width: 50%;
    height: 50%;
}
.bottomBod {
    float: right;
    width: 100%;
    height: 50%;
}

.centering {
    justify-items: center;
    align-items: center;
}

.hovered {
    background-color: darkgrey !important;
    color: white;
}

.selected {
    background-color: black !important;
    color: white;
}