<ng-container *ngIf="false">
  <!-- This div houses a button style dropdown menu that displays all
  the complexes available to a provider. Selecting one updates
  some fields in the component that allows for further progression
  in the page's functionality. -->
</ng-container>
<div class="page">
  <div class="col text-center leftBod">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>{{showString}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="complexChoose(complex)" *ngFor="let complex of complexList">{{complex.complexName}}</button>
      </div>
    </div>
  </div>
  <ng-container *ngIf="false">
    <!-- This div houses the room details component. For more details on how
    that is displayed go to the component itself. In here it just sets a bunch
    of events on it so that it may be selected. That then updates more fields
    in the component. -->
  </ng-container>
  <div class="rightBod">
    <ng-container *ngIf="complexRooms">
      <dev-room-details *ngFor="let r of complexRooms" [room]="r" (mouseover)="mouseOn(r)" (mouseout)="mouseOff()" (click)="select(r)" [class.card]="true" [class.hovered]="r === mouseOverRoom" [class.selected]="r === highlightRoom"></dev-room-details>
    </ng-container>
  </div>
  <ng-container *ngIf="false">
    <!-- This div houses a table to make displaying the form and the selected
    room details easier. It only renders when a room has been selected from
    above. -->
  </ng-container>
  <div>
    <dev-room-update-form [room]="selectedRoom" (roomChange)="roomChange($event)" (deleteRoom)="removeRoom($event)"></dev-room-update-form>
  </div>
</div>
