.login-outer {
  width: 100%;
  text-align: center;
  padding: 100px;
  background-image: url("/assets/imgs/rec_hero_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-inner {
  align-self: center;
  width: 85%;
  background-color: white;
  opacity: 0.9;
  padding: 50px;
  border-radius: 5px;
}

#caption {
  display:none;
}

table {
  width: 100%;
}

.mat-header-cell {
  text-align: center;
 }

 .address-container {
   display: flex;
   flex-direction: column;
 }
